.unitsBox {
  margin-left: 11.8%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 86.5%;
}



.title {
  margin-left: 5px;
  font-size: 32px;
  font-weight: bold;
  margin-top: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

  .unitContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  