.newChat {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #21afff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    box-sizing: border-box; /* Agrega box-sizing */
  }

  .newChatIcon {
    color: white;
    font-size: 32px;
  }