.newChat {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #21afff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
    box-sizing: border-box;
  }

  .newChatIcon {
    color: white;
    font-size: 40px;
  }
  