.assignmentDetails{
    display: flex;
    flex-direction: row;

}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color:#B3B3B3;
    margin-left: 10%;
    
}

.assignmentStatus{
margin-top: 3%;
margin-left: 3%;

}

.completed {
    color: #B3B3B3;
  }
  
  .notCompleted {
    color: #21AFFF;
  }
  