.frameChild {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 5px 4px 12px rgba(255, 168, 0, 0.25);
    width: 166px;
    height: 1117px;
  }
  .hogar1Icon {
    position: absolute;
    top: 334px;
    left: 58px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
  }
  .cursoOnline1Icon {
    top: 434px;
    cursor: pointer;
  }
  .burbujaDeDialogo1Icon,
  .calendario11,
  .cursoOnline1Icon,
  .examen1Icon {
    position: absolute;
    left: 58px;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
  .burbujaDeDialogo1Icon {
    top: 534px;
    cursor: pointer;
  }
  .calendario11,
  .examen1Icon {
    top: 634px;
  }
  .examen1Icon {
    top: 734px;
    cursor: pointer;
  }
  .e,
  .v {
    position: absolute;
    top: 0;
    font-weight: 600;
  }
  .v {
    margin: 0;
    left: 0;
    font-size: inherit;
    font-family: inherit;
  }
  .e {
    top: 95px;
    left: 71px;
    color: var(--ffa800);
    text-shadow: -2px 0 3px rgba(0, 0, 0, 0.25);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .logout1Icon,
  .vParent {
    position: absolute;
    top: 49px;
    left: 47px;
    width: 71px;
    height: 77px;
  }
  .logout1Icon {
    top: 1010px;
    left: 58px;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
  .frameInner,
  .rectangleGroup {
    position: absolute;
    top: 0;
    left: 0;
    width: 166px;
    height: 1117px;
  }
  .frameInner {
    top: 626px;
    left: 162px;
    border-right: 4px solid var(--fff2);
    box-sizing: border-box;
    width: 0;
    height: 65px;
  }
  .rectangleParent {
    position: relative;
    width: 100%;
    height: 1117px;
    text-align: left;
    font-size: var(--font-size-45xl);
    color: var(--d7ff);
    font-family: var(--font-inter);
  }