.edu {
  color: var(--ffa800);
}
.virtedu {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
  font-weight: 600;
  mix-blend-mode: normal;
}
.groupChild,
.pregunta1Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 76px;
  height: 76px;
}
.pregunta1Icon {
  top: 18px;
  left: 18px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.ellipseParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1011px;
  left: 1622px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 76px;
  height: 76px;
  mix-blend-mode: hard-light;
}
.component1frame2Child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--color-white);
  width: 734px;
  height: 355px;
}
.logIn {
  margin: 0;
  position: absolute;
  top: 35px;
  left: 314px;
  font-size: 36px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--ffa800);
  text-align: left;
  display: inline-block;
  width: 158px;
  height: 67px;
}
.component1frame2Inner,
.component1frame2Item {
  position: absolute;
  top: 99px;
  left: 31px;
  width: 672px;
  height: 3px;
  object-fit: cover;
}
.component1frame2Inner {
  left: 314px;
  width: 106px;
}
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 279px;
  left: 289px;
  border-radius: 22px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #21d7ff;
  width: 156px;
  height: 43px;
}
.logIn1 {
  position: absolute;
  top: 291px;
  left: 344px;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.component1frame2Child1,
.rectangleTextfield {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 127px;
  left: 31px;
}
.component1frame2Child1 {
  top: 203px;
}
.component1frame2 {
  position: absolute;
  top: 288px;
  left: 497px;
  width: 734px;
  height: 355px;
}
.registerlogIn {
  position: relative;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  background-image: url(/registerlog-in@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--fff2);
  font-family: var(--font-inter);
}
