.frameChild {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 5px 4px 12px rgba(255, 168, 0, 0.25);
    width: 166px;
    height: 95%;
  }
  .groupIcon,
  .hogar1 {
    position: absolute;
    overflow: hidden;
  }
  .groupIcon {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .hogar1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 334px;
    left: 58px;
    width: 50px;
    height: 50px;
  }
  .vectorIcon,
  .vectorIcon1 {
    position: absolute;
    height: 30%;
    width: 60%;
    top: 15%;
    right: 20%;
    bottom: 55%;
    left: 20%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vectorIcon1 {
    height: 26.08%;
    width: 43.33%;
    top: 32.26%;
    right: 28.33%;
    bottom: 41.67%;
    left: 28.33%;
  }
  .vectorIcon2,
  .vectorIcon3,
  .vectorIcon4,
  .vectorIcon5,
  .vectorIcon6,
  .vectorIcon7 {
    position: absolute;
    height: 3.33%;
    width: 31.67%;
    top: 28.33%;
    right: 20%;
    bottom: 68.33%;
    left: 48.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vectorIcon3,
  .vectorIcon4,
  .vectorIcon5,
  .vectorIcon6,
  .vectorIcon7 {
    height: 18.33%;
    width: 3.33%;
    bottom: 53.33%;
    left: 76.67%;
  }
  .vectorIcon4,
  .vectorIcon5,
  .vectorIcon6,
  .vectorIcon7 {
    height: 10%;
    top: 25%;
    right: 48.33%;
    bottom: 65%;
    left: 48.33%;
  }
  .vectorIcon5,
  .vectorIcon6,
  .vectorIcon7 {
    height: 8.34%;
    width: 6.67%;
    top: 43.33%;
    right: 20%;
    bottom: 48.33%;
    left: 73.33%;
  }
  .vectorIcon6,
  .vectorIcon7 {
    right: 16.67%;
    left: 76.67%;
  }
  .vectorIcon7 {
    height: 8.33%;
    width: 3.33%;
    top: 41.67%;
    right: 48.33%;
    bottom: 50%;
    left: 48.33%;
  }
  .vectorIcon10,
  .vectorIcon11,
  .vectorIcon12,
  .vectorIcon13,
  .vectorIcon8,
  .vectorIcon9 {
    position: absolute;
    height: 63.33%;
    width: 100%;
    top: 1.67%;
    right: 0;
    bottom: 35%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vectorIcon10,
  .vectorIcon11,
  .vectorIcon12,
  .vectorIcon13,
  .vectorIcon9 {
    height: 16.67%;
    top: 61.67%;
    bottom: 21.67%;
  }
  .vectorIcon10,
  .vectorIcon11,
  .vectorIcon12,
  .vectorIcon13 {
    height: 3.33%;
    width: 13.33%;
    top: 68.33%;
    right: 43.33%;
    bottom: 28.33%;
    left: 43.33%;
  }
  .vectorIcon11,
  .vectorIcon12,
  .vectorIcon13 {
    height: 56.67%;
    width: 86.67%;
    top: 8.33%;
    right: 6.67%;
    bottom: 35%;
    left: 6.67%;
  }
  .vectorIcon12,
  .vectorIcon13 {
    height: 10%;
    width: 53.33%;
    top: 88.33%;
    right: 23.33%;
    bottom: 1.67%;
    left: 23.33%;
  }
  .vectorIcon13 {
    height: 16.67%;
    width: 40%;
    top: 75%;
    right: 30%;
    bottom: 8.33%;
    left: 30%;
  }
  .cursoOnline1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 434px;
    left: 58px;
    width: 50px;
    height: 50px;
  }
  .burbujaDeDialogo1,
  .cursoOnline1,
  .groupIcon1 {
    position: absolute;
    overflow: hidden;
  }
  .groupIcon1 {
    height: 85.09%;
    width: 100%;
    top: 7.46%;
    right: 0;
    bottom: 7.46%;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .burbujaDeDialogo1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 534px;
    left: 58px;
    width: 50px;
    height: 50px;
  }
  .groupIcon2 {
    height: 95.83%;
    width: 95.83%;
    top: 2.08%;
    right: 2.08%;
    bottom: 2.08%;
    left: 2.08%;
    max-width: 100%;
    max-height: 100%;
  }
  .calendario11,
  .groupIcon2,
  .groupIcon3 {
    position: absolute;
    overflow: hidden;
  }
  .calendario11 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 634px;
    left: 58px;
    width: 50px;
    height: 50px;
  }
  .groupIcon3 {
    height: 10%;
    width: 10%;
    top: 30%;
    right: 38.33%;
    bottom: 60%;
    left: 51.67%;
    max-width: 100%;
    max-height: 100%;
  }
  .groupIcon4,
  .groupIcon5,
  .groupIcon6,
  .groupIcon7,
  .groupIcon8,
  .groupIcon9 {
    position: absolute;
    height: 18.95%;
    width: 16.43%;
    top: 25%;
    right: 50.12%;
    bottom: 56.05%;
    left: 33.45%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .groupIcon5,
  .groupIcon6,
  .groupIcon7,
  .groupIcon8,
  .groupIcon9 {
    height: 36.67%;
    width: 46.67%;
    top: 16.67%;
    right: 28.33%;
    bottom: 46.67%;
    left: 25%;
  }
  .groupIcon6,
  .groupIcon7,
  .groupIcon8,
  .groupIcon9 {
    height: 100%;
    width: 83.33%;
    top: 0;
    right: 11.67%;
    bottom: 0;
    left: 5%;
  }
  .groupIcon7,
  .groupIcon8,
  .groupIcon9 {
    height: 3.33%;
    width: 3.33%;
    top: 58.33%;
    right: 66.67%;
    bottom: 38.33%;
    left: 30%;
  }
  .groupIcon8,
  .groupIcon9 {
    width: 36.67%;
    right: 26.67%;
    left: 36.67%;
  }
  .groupIcon9 {
    width: 50%;
    top: 65%;
    bottom: 31.67%;
    left: 23.33%;
  }
  .groupIcon10,
  .groupIcon11 {
    position: absolute;
    top: 71.67%;
    overflow: hidden;
  }
  .groupIcon10 {
    height: 3.33%;
    width: 43.33%;
    right: 33.33%;
    bottom: 25%;
    left: 23.33%;
    max-width: 100%;
    max-height: 100%;
  }
  .groupIcon11 {
    height: 21.67%;
    right: 5%;
    bottom: 6.67%;
    left: 91.67%;
  }
  .groupIcon11,
  .groupIcon12,
  .groupIcon13 {
    width: 3.33%;
    max-width: 100%;
    max-height: 100%;
  }
  .groupIcon12 {
    position: absolute;
    height: 3.33%;
    top: 96.67%;
    right: 5%;
    bottom: 0;
    left: 91.67%;
    overflow: hidden;
  }
  .groupIcon13 {
    height: 21.67%;
    top: 23.33%;
    right: 88.33%;
    bottom: 55%;
    left: 8.33%;
  }
  .examen1,
  .groupIcon13,
  .groupIcon14 {
    position: absolute;
    overflow: hidden;
  }
  .groupIcon14 {
    height: 3.33%;
    width: 3.33%;
    top: 16.67%;
    right: 88.33%;
    bottom: 80%;
    left: 8.33%;
    max-width: 100%;
    max-height: 100%;
  }
  .examen1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 734px;
    left: 58px;
    width: 50px;
    height: 50px;
  }
  .v {
    top: 0;
    left: 0;
    font-size: var(--font-size-45xl);
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--d7ff);
    text-align: left;
  }
  .e,
  .v,
  .vParent {
    position: absolute;
  }
  .e {
    top: 77.5px;
    left: 71px;
    font-size: var(--font-size-45xl);
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--ffa800);
    text-align: left;
    text-shadow: -2px 0 3px rgba(0, 0, 0, 0.25);
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .vParent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 49px;
    left: 47px;
    width: 71px;
    height: 77px;
  }
  .vectorIcon14,
  .vectorIcon15 {
    position: absolute;
    height: 6.25%;
    width: 45.83%;
    top: 40.63%;
    right: 0;
    bottom: 53.12%;
    left: 54.16%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vectorIcon15 {
    height: 37.51%;
    width: 21.88%;
    top: 24.99%;
    bottom: 37.5%;
    left: 78.12%;
  }
  .vectorIcon16,
  .vectorIcon17 {
    top: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .vectorIcon16 {
    position: absolute;
    height: 100%;
    width: 41.67%;
    right: 58.33%;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .vectorIcon17 {
    height: 33.33%;
    width: 61.46%;
    right: 33.34%;
    bottom: 66.66%;
    left: 5.21%;
  }
  .logout1,
  .vectorIcon17,
  .vectorIcon18 {
    position: absolute;
    overflow: hidden;
  }
  .vectorIcon18 {
    height: 33.33%;
    width: 31.25%;
    top: 54.17%;
    right: 33.34%;
    bottom: 12.5%;
    left: 35.42%;
    max-width: 100%;
    max-height: 100%;
  }
  .logout1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 1010px;
    left: 58px;
    width: 50px;
    height: 50px;
  }
  .frameItem {
    position: absolute;
    top: 327px;
    left: 162px;
    border-right: 4px solid var(--fff2);
    box-sizing: border-box;
    width: 0;
    height: 65px;
  }
  .rectangleParent {
    position: absolute;
    top: 0;
    left: 0;
    width: 166px;
    height: 1117px;
  }
  .dashboard1 {
    position: absolute;
    top: 49px;
    left: 216px;
    font-size: var(--font-size-45xl);
    font-weight: 600;
  }
  .dashboardChild {
    position: absolute;
    top: 54px;
    left: 1612px;
    width: 66px;
    height: 66px;
    object-fit: cover;
  }
  .luisaPerez,
  .student {
    position: absolute;
    top: 61px;
    left: 1480px;
    font-size: var(--font-size-xl);
    font-weight: 600;
  }
  .student {
    top: 90px;
    left: 1518px;
    font-weight: 300;
    color: var(--style);
  }
  .groupIcon15,
  .notificacion1Child {
    position: absolute;
    height: 100%;
    width: 90.33%;
    top: 0;
    right: 4.84%;
    bottom: 0;
    left: 4.84%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .notificacion1Child {
    height: 35%;
    width: 35%;
    top: 5%;
    right: 5%;
    bottom: 60%;
    left: 60%;
  }
  .div {
    position: absolute;
    top: 7.5%;
    left: 67.5%;
    font-size: 10px;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
  }
  .notificacion1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 67px;
    left: 1410px;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  .courseCompleted {
    position: absolute;
    top: 350px;
    left: 255px;
    font-size: var(--font-size-2xl-4);
  }
  .div1 {
    position: absolute;
    top: 240px;
    left: 315px;
    font-size: 30.57px;
    font-weight: 600;
  }
  .today,
  .upcomingTasks {
    position: absolute;
    top: 182px;
    left: 1410px;
    font-size: var(--font-size-xl);
    font-weight: 500;
  }
  .today {
    top: 602px;
  }
  .dashboardItem {
    top: 220px;
    left: 1409px;
    border-top: 2px solid var(--e1e1e1);
    width: 270px;
    height: 2px;
  }
  .dashboardInner,
  .dashboardItem,
  .groupChild {
    position: absolute;
    box-sizing: border-box;
  }
  .dashboardInner {
    top: 640px;
    left: 1409px;
    border-top: 2px solid var(--e1e1e1);
    width: 270px;
    height: 2px;
  }
  .groupChild {
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    border: 1px solid var(--ffa800);
    width: 245px;
    height: 46px;
  }
  .may1216,
  .technology {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: var(--font-size-sm);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
  }
  .may1216 {
    left: 108px;
    font-weight: 300;
    color: var(--style);
  }
  .groupIcon16 {
    position: absolute;
    height: 100%;
    width: 58.75%;
    top: 0;
    right: 20.63%;
    bottom: 0;
    left: 20.63%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .rectangleGroup,
  .rightArrow1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
  }
  .rightArrow1 {
    position: absolute;
    top: 18px;
    left: 225px;
    width: 10px;
    height: 10px;
    overflow: hidden;
  }
  .rectangleGroup {
    top: 241px;
    left: 1410px;
    width: 245px;
    height: 46px;
  }
  .am,
  .groupItem,
  .rectangleGroup {
    position: absolute;
  }
  .groupItem {
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    border: 1px solid var(--d7ff);
    box-sizing: border-box;
    width: 245px;
    height: 46px;
  }
  .am {
    top: 15px;
    left: 108px;
    font-weight: 300;
    color: var(--style);
  }
  .rectangleContainer {
    position: absolute;
    top: 656px;
    left: 1410px;
    width: 245px;
    height: 46px;
  }
  .groupDiv,
  .math {
    position: absolute;
  }
  .math {
    top: 15px;
    left: 20px;
    font-weight: 500;
  }
  .groupDiv {
    top: 297px;
    left: 1410px;
    width: 245px;
    height: 46px;
  }
  .rectangleParent1,
  .rectangleParent2,
  .rectangleParent3 {
    position: absolute;
    top: 712px;
    left: 1410px;
    width: 245px;
    height: 46px;
  }
  .rectangleParent2,
  .rectangleParent3 {
    top: 353px;
  }
  .rectangleParent3 {
    top: 768px;
  }
  .rectangleParent4,
  .rectangleParent5,
  .rectangleParent6 {
    position: absolute;
    top: 409px;
    left: 1410px;
    width: 245px;
    height: 46px;
  }
  .rectangleParent5,
  .rectangleParent6 {
    top: 824px;
  }
  .rectangleParent6 {
    top: 465px;
  }
  .rectangleParent7,
  .rectangleParent8,
  .rectangleParent9 {
    position: absolute;
    top: 880px;
    left: 1410px;
    width: 245px;
    height: 46px;
  }
  .rectangleParent8,
  .rectangleParent9 {
    top: 527px;
  }
  .rectangleParent9 {
    top: 936px;
  }
  .dashboardChild1,
  .dashboardChild2,
  .dashboardChild3,
  .lineDiv {
    position: absolute;
    top: 238.5px;
    left: 1668.5px;
    border-right: 5px solid var(--e1e1e1);
    box-sizing: border-box;
    width: 5px;
    height: 331px;
  }
  .dashboardChild1,
  .dashboardChild2,
  .dashboardChild3 {
    top: 653.5px;
  }
  .dashboardChild2,
  .dashboardChild3 {
    top: 238.5px;
    border-right: 5px solid var(--color-black);
    height: 96px;
  }
  .dashboardChild3 {
    top: 653.5px;
  }
  .myCourses {
    position: absolute;
    top: 421px;
    left: 216px;
    font-size: 24px;
    font-weight: 600;
  }
  .dashboardChild4,
  .dashboardChild5,
  .dashboardChild6 {
    position: absolute;
    top: 502px;
    left: 221px;
    border-radius: var(--br-6xs);
    background-color: var(--color-white);
    border: 2px solid var(--d7ff);
    box-sizing: border-box;
    width: 319px;
    height: 480px;
  }
  .dashboardChild5,
  .dashboardChild6 {
    left: 982px;
  }
  .dashboardChild6 {
    left: 601px;
  }
  .dashboardChild7,
  .dashboardChild8,
  .rectangleIcon {
    position: absolute;
    top: 502px;
    left: 221px;
    border-radius: var(--br-6xs) var(--br-6xs) 0 0;
    width: 319px;
    height: 239px;
    object-fit: cover;
  }
  .dashboardChild7,
  .dashboardChild8 {
    left: 982px;
  }
  .dashboardChild8 {
    left: 601px;
  }
  .qoremIpsumDolor,
  .qoremIpsumDolor1,
  .qoremIpsumDolor2 {
    position: absolute;
    top: 761px;
    left: 247px;
    text-align: center;
    display: inline-block;
    width: 267px;
  }
  .qoremIpsumDolor1,
  .qoremIpsumDolor2 {
    left: 1008px;
  }
  .qoremIpsumDolor2 {
    left: 627px;
  }
  .dashboardChild10,
  .dashboardChild9,
  .rectangleButton {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--ffa800);
    position: absolute;
    top: 937px;
    left: 327px;
    border-radius: var(--br-5xs);
    width: 108px;
    height: 34px;
  }
  .dashboardChild10,
  .dashboardChild9 {
    left: 1088px;
  }
  .dashboardChild10 {
    left: 707px;
  }
  .seeMore,
  .seeMore1,
  .seeMore2 {
    position: absolute;
    top: 943px;
    left: 349px;
    font-weight: 600;
    color: var(--color-white);
    text-align: center;
  }
  .seeMore1,
  .seeMore2 {
    left: 1110px;
  }
  .seeMore2 {
    left: 729px;
  }
  .dashboardChild12,
  .ellipseIcon {
    position: absolute;
    top: 183px;
    left: 268px;
    width: 150px;
    height: 150px;
    opacity: 0.8;
  }
  .dashboardChild12 {
    top: 184.41px;
    left: 342px;
    border-radius: var(--br-xl);
  }
  .courseCompleted1 {
    position: absolute;
    top: 351px;
    left: 543px;
    font-size: var(--font-size-2xl-4);
  }
  .div2 {
    position: absolute;
    top: 241px;
    left: 603px;
    font-size: 30.57px;
    font-weight: 600;
  }
  .dashboardChild13,
  .dashboardChild15 {
    position: absolute;
    top: 184px;
    left: 556px;
    width: 150px;
    height: 150px;
    opacity: 0.8;
  }
  .dashboardChild15 {
    top: 185.41px;
    left: 630px;
    border-radius: var(--br-xl);
  }
  .courseCompleted2 {
    position: absolute;
    top: 353px;
    left: 831px;
    font-size: var(--font-size-2xl-4);
  }
  .div3 {
    position: absolute;
    top: 243px;
    left: 891px;
    font-size: 30.57px;
    font-weight: 600;
  }
  .dashboardChild16,
  .dashboardChild18 {
    position: absolute;
    top: 186px;
    left: 844px;
    width: 150px;
    height: 150px;
    opacity: 0.8;
  }
  .dashboardChild18 {
    top: 187.41px;
    left: 918px;
    border-radius: var(--br-xl);
  }
  .courseCompleted3 {
    position: absolute;
    top: 353px;
    left: 1119px;
    font-size: var(--font-size-2xl-4);
  }
  .div4 {
    position: absolute;
    top: 243px;
    left: 1179px;
    font-size: 30.57px;
    font-weight: 600;
  }
  .dashboardChild19,
  .dashboardChild21 {
    position: absolute;
    top: 186px;
    left: 1132px;
    width: 150px;
    height: 150px;
    opacity: 0.8;
  }
  .dashboardChild21 {
    top: 187.41px;
    left: 1206px;
    border-radius: var(--br-xl);
  }
  .dashboard {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1600px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  