.edu {
    color: var(--ffa800);
  }
  .virtedu {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: var(--font-size-45xl);
    font-weight: 600;
    mix-blend-mode: normal;
    color: var(--fff2);
  }
  .groupChild,
  .pregunta1Icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 76px;
    height: 76px;
  }
  .pregunta1Icon {
    top: 18px;
    left: 18px;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  .ellipseParent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 850px;
    left: 90%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 76px;
    height: 76px;
    mix-blend-mode: hard-light;
  }
  .logIn {
    margin: 0;
    position: relative;
    top: 23px;
    left: 314px;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: none;
  }
  .component1frame2Child,
  .component1frame2Item {
    position: absolute;
    top: 87px;
    left: 31px;
    width: auto;
    height: 3px;
    object-fit: cover;
  }
  .component1frame2Item {
    left: 314px;
    width: auto;
  }

  /* Btn submit */
  .component1frame2Inner { 
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 275px;
    left: 289px;
    border-radius: 22px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #21afff;
    width: 156px;
    height: 43px;
  }
  .logIn1 {
    position: relative;
    top: 287px;
    left: 343px;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--color-white);
    display: none;
    width: 48px;
    height: 20px;
  }
  .component1frame2Child1,
  .forgotPassword,
  .rectangleTextfield {
    border: 0;
    background-color: transparent;
    position: absolute;
    left: 31px;
  }
  .rectangleTextfield {
    top: 119px;
    display: none;
  }
  .component1frame2Child1,
  .forgotPassword {
    top: 197px;
  }
  .forgotPassword {
    cursor: pointer;
    padding: 0;
    top: 287px;
    left: 527px;
    font-size: var(--font-size-lg);
    font-weight: 700;
    font-family: var(--font-inter);
    color: var(--ffa800);
    text-align: left;
    display: none;
    width: 176px;
    height: 31px;
  }

  /* White container */
  .component1frame2 {
    position: relative;
    top: 188px;
    left: 497px;
    border-radius: 10px;
    background-color: var(--color-white);
    width: 734px;
    height: 355px;
  }
  .enterYourInstitutional {
    margin: 0;
    top: 377px;
    left: 720px;
    font-size: 25px;
    font-family: inherit;
    width: 395px;
    height: 47px;
  }
  .enterYourInstitutional,
  .passwordReset1,
  .submit {
    position: absolute;
    font-weight: 600;
    display: inline-block;
  }
  .submit {
    top: 550px;
    left: 832px;
    font-size: var(--font-size-base);
    color: var(--color-white);
    width: 64px;
    height: 22px;
  }
  .passwordReset1 {
    margin: 0;
    top: 296px;
    left: 738px;
    font-size: 35px;
    font-family: inherit;
    width: 295px;
    height: 48px;
  }
  .passwordReset {
    position: relative;
    width: 100%;
    height: 980px;
    overflow: hidden;
    background-image: url(/Assets/images/registerlog-in@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--font-size-17xl);
    color: var(--ffa800);
    font-family: var(--font-inter);
  }